In [1]:
%matplotlib inline
import pandas as pd

In [7]:
data = pd.read_csv('./data/data_csv.csv')
data.head(2000)

           Country Name Country Code  Year  Value
0               Albania          ALB  2011  21.74
1               Algeria          DZA  2012  22.08
2             Argentina          ARG  2005  16.74
3             Argentina          ARG  2010  23.75
4             Argentina          ARG  2013  23.68
5               Armenia          ARM  2004  24.03
6               Armenia          ARM  2008  21.67
7             Australia          AUS  2006  20.83
8               Austria          AUT  2009  16.94
9            Azerbaijan          AZE  2008  25.42
10              Belarus          BLR  2015  19.17
11              Belgium          BEL  2000  16.04
12              Belgium          BEL  2005  15.00
13              Belgium          BEL  2013  15.90
14               Bhutan          BTN  2007  13.26
15              Bolivia          BOL  2001  20.83
16               Brazil          BRA  2009  17.64
17               Brazil          BRA  2012  13.33
18             Bulgaria          BGR  2002  20.90
19             Bulgaria          BGR  2010  18.47
20             Cambodia          KHM  2004  12.50
21               Canada          CAN  2005  15.83
22               Canada          CAN  2010  16.18
23                Chile          CHL  2008  16.25
24                Chile          CHL  2015  22.15
25                China          CHN  2008  16.25
26             Colombia          COL  2012  18.13
27           Costa Rica          CRI  2004  22.36
28           Costa Rica          CRI  2011  18.82
29                 Cuba          CUB  2001  16.32
..                  ...          ...   ...    ...
118         Switzerland          CHE  2000  19.51
119         Switzerland          CHE  2004  19.44
120         Switzerland          CHE  2007  19.38
121         Switzerland          CHE  2010  17.64
122         Switzerland          CHE  2013  17.64
123            Tanzania          TZA  2006  14.72
124            Tanzania          TZA  2014  16.53
125            Thailand          THA  2009  12.78
126             Tunisia          TUN  2006  21.94
127              Turkey          TUR  2006  25.76
128              Turkey          TUR  2015  19.17
129      United Kingdom          GBR  2001  16.88
130      United Kingdom          GBR  2005  14.72
131       United States          USA  2003  16.53
132       United States          USA  2004  16.67
133       United States          USA  2005  16.53
134       United States          USA  2006  16.25
135       United States          USA  2007  16.04
136       United States          USA  2008  15.63
137       United States          USA  2009  15.90
138       United States          USA  2010  15.35
139       United States          USA  2011  15.21
140       United States          USA  2012  15.28
141       United States          USA  2013  15.63
142       United States          USA  2014  15.56
143       United States          USA  2015  15.90
144             Uruguay          URY  2007  25.21
145             Uruguay          URY  2013  20.14
146  West Bank and Gaza          PSE  2000  20.21
147  West Bank and Gaza          PSE  2013  19.17

[148 rows x 4 columns]

In [8]:
#Plotting the trend of unpaid labor in a few countries per continent 
countries_NA = ['CAN','USA','MEX']
countries_SA = ['BRA','CRI','ARG']
countries_AUS = ['AUS','NZL']
countries_ASIA = ['IND','MNG','CHN']
countries_EUR = ['GBR','FRA','GER']
countries_AFR = ['DZA','RSA','TUN']